@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;   
}

body {

    background-image: url('20468116.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: 100;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
}

.cabecalho-menu {
    color: white;
    display: flex;
    gap:32px;
}

.cabecalho-menu-item {
    font-family: 'Creepster', cursive;
    font-weight: 400;
    font-size: 35px;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.conteudo-principal {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 200px;
}

.conteudo-principal-botao {
    background-color: transparent;
    border: 1px solid #fff
    width: 50px;
    height: 70px;
    border-radius: 20px;
    font-family: 'Creepster', cursive;
    font-weight: 400;
    font-size: 40px;
    color: White;
    padding: 10px;
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
}
    